<% content_for(:title, "Deed") %>

<h1><%= @deed.content %></h1>
<h3><%= @deed.created_at %></h3>
<h3><%= @deed.location %></h3>

<% if @deed.comments.any? %>
  <h4>Here are the comments for this deeds:</h4>

  <ul>
    <% @deed.comments.each do |comment| %>
       <li>
        Author: <%= Account.find(comment.account_id).username %>, Content: <%= comment.content %> |
        <% if comment.account_id == current_user.account.id %>
          <%= link_to "Edit Comment", edit_deed_comment_path(@deed, comment) %> | <%= link_to "Delete Comment", deed_comment_path(@deed, comment), remote: true, id: "delete_comment", :data => {:confirm => "Delete?", :method => "delete"} %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet!</p>
<% end %>

<p><%= link_to "Add a comment", new_deed_comment_path(@deed), id: "new_comment", remote: true %></p>


<p><%= link_to "Edit", edit_deed_path(@deed) %></p>
<p><%= link_to "Delete", deed_path(@deed), :data => {:confirm => "Positive?", :method => "delete"} %></p>

<p><%= link_to "Home", deeds_path %></p>
