<% content_for(:title, "Deed") %>

<h1><%= @deed.content %></h1>
<h3><%= @deed.created_at %></h3>
<h3><%= @deed.location %></h3>


<p><%= link_to "Edit", edit_deed_path(@deed) %></p>
<p><%= link_to "Delete", deed_path(@deed), :data => {:confirm => "Positive?", :method => "delete"} %></p>

<p><%= link_to "Home", deeds_path %></p>
