<!DOCTYPE html>
<html>
  <head>
    <title>Karma Map</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?v=3.exp&key=AIzaSyB016_NNYZtT952q1HzwcHNBDZtg875MoU"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <header>
      <h1>Karma Map</h1>
      <%= link_to "Caleb Stokka", 'https://github.com/stok0102'%>

    </header>
    <ul class="navbar">
      <li class="navbar-link"><%= link_to "Deeds", root_path %></li>
      <li class="navbar-link"><%= link_to "Sign In", user_session_path %></li>
      <% if current_user %>
        <% if current_user.account %>
          <li class="navbar-link"><%= link_to "My Profile", account_path(current_user.account)%></li>
          <li class="navbar-link"><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li class="navbar-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class="navbar-link"><%= link_to 'Sign In', user_session_path %></li>
        <% end %>
      <% end %>
    </ul>
    <section>
      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </section>
  </body>
</html>
